<div class="exercises">
  <h1>Choose Your Challenge</h1>
  <button class="btn" [routerLink]="['./votetaker']">VoteTaker</button>
  <button class="btn" [routerLink]="['./ngOnchanges']">ngOnchanges</button>
  <button class="btn" [routerLink]="['./Setter']">Setter</button>
  <button class="btn" [routerLink]="['./attribute-directive']">
    Directives
  </button>
  <button class="btn" [routerLink]="['./restaurant']">Restaurant</button>
  <!-- <button class="btn" [routerLink]="['./Service']">Service</button> -->
</div>
<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
