/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #d6002ef6;
}

.form-container {
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 10px 10px 10px 10px #00000045;
}

section {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

section .form-container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

section .form-container .user .formBx {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .form-container .user .formBx form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #2c2c2c;
}

section .form-container .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #ffd0d0;
  color: #222222;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

section .form-container .user .formBx form input[type="submit"] {
  max-width: 100px;
  background: #d6002ef6;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}

section .form-container .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #353535;
  text-transform: uppercase;
  font-weight: 300;
}

section .form-container .user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #d6002ef6;
}

/* Exercise card with white background and round borders */
.exercise {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.exercise p {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #2c2c2c;
}

.exercise h1,
.exercise h2,
.exercise h3,
.exercise h4,
.exercise h5,
.exercise h6 {
  border-top: 1px solid #d6002ef6;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  margin-bottom: 10px;
  color: #2c2c2c;
}

.exercise button {
  background-color: #d6002ef6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.btn {
  width: 150px;
  height: 50px;
  z-index: 1;
  margin: 0px 12px;
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn {
  border: 2px solid #ffffff;
  color: #ffffff;
  transition: all 0.3s ease;
  border-color: #ffffff;
}
.btn:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}
.btn:hover {
  color: red;
}
.btn:hover:after {
  background: #ffffff;
  -webkit-transform: scale(1);
  transform: scale(1);
  border-radius: 20px;
}

.router-wrapper {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: calc(100% - 47px);
  perspective: 1200px;
  transform-style: preserve-3d;
}
